html, body {
    height:100%;
    margin:0px;
}

 .top-div {
    height: 746px;
    width: 100%;
    background-image: url(assets/top-div.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
  }


 .bottom-div {
    top: 65%;
    width: 100%;
    height: 0%;
    position: absolute;
    background-color: #F0F0F0;
    z-index: 0;
  } 

  .scrollbar-div {
    z-index: 9;
    margin-left: 95px;
    width: 240px;
    height: 100%;
    position: relative;
  }

  .character-div {
    z-index: 8;
    margin-left: 430px;
    width: 500px;
    height: 100%;
    top:0%;
    left: 65px;
    position: absolute;
    background-image: url();
    background-repeat: no-repeat;
    background-position: fixed;
  }

  .char-info-div {
    z-index: 7;
    margin-left: 1030px;
    width: 330px;
    height: 100%;
    top:0%;
    position: absolute;
    background-image: url();
    background-repeat: no-repeat;
    background-position: fixed;
  }

  .char-num {
    font-family: 'IM Fell DW Pica';
    font-size: 28px;
    color: white;
    line-height: 6px;
    top: 50%;
  }

  .char-name {
    font-family: 'IM Fell DW Pica';
    font-size: 50px;
    color: white;
    line-height: 6px;
    top: 50%;
    transition: transform 0.7s;
  }
  
  .char-name:hover {
    font-family: 'IM Fell DW Pica';
    font-size: 50px;
    transform: translateX(10px);
  }


  .char-name-selected {
    font-family: 'IM Fell DW Pica';
    font-size: 50px;
    color: red;
    line-height: 6px;
    top: 50%;
    transition: transform 0.7s;
  }
  
  .char-name-selected:hover {
    font-family: 'IM Fell DW Pica';
    font-size: 50px;
    transform: translateX(10px);
  }

  .top-div-resized {
    height: 500px;
    width: 100%;
    background-image: url(assets/top-div.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
  }


.bottom-div-resized {
    top: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
  } 

  p {
    font-family: 'IM Fell DW Pica';
    font-size: 15px;
    color: white;
  }

  .heading-01 {
    font-family: 'IM Fell DW Pica';
    font-size: 40px;
    color: white;
  }

  .heading-02 {
    font-family: 'IM Fell DW Pica';
    font-size: 25px;
    color: white;
    line-height: 3px;
  }

  .heading-03 {
    font-family: 'IM Fell DW Pica';
    font-size: 20px;
    color: white;
  }

  .text-01 {
    font-family: 'IM Fell DW Pica';
    font-size: 15px;
    color: black;
  }

  .abilitybutton {
    border-radius: 5px;
    color: black;
    background-color: transparent;
    width: 75px;
    height: 75px;
    background-image: url();
    position: absolute;
    padding: 10px;
    
    background: linear-gradient(to right, rgba(88, 88, 88, 0.5) 50%, rgba(255, 255, 255, 0.5) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .2s ease-out;

  }

  .abilitybutton:hover {
    background-position: left bottom;
  }

  .ability-info-div {
    z-index: 7;
    margin-left: 930px;
    width: 500px;
    height: 45%;
    top:45px;
    position: absolute;
    background-image: url();
    background-repeat: no-repeat;
    background-position: fixed;
  }

  .add-info-div {
    z-index: 7;
    margin-left: 45px;
    width: 500px;
    height: 400px;;
    top: 60%;
    position: absolute;
    background-image: url();
    background-repeat: no-repeat;
    background-position: fixed;
    position: float;
  }

  .stats-div {
    z-index: 7;
    margin-left: 580px;
    width: 500px;
    height: 400px;;
    top: 60%;
    position: absolute;
    background-image: url();
    background-repeat: no-repeat;
    background-position: fixed;
    position: float;
  }

  
  .references-div {
    z-index: 7;
    margin-left: 1080px;
    width: 400px;
    height: 400px;
    top: 60%;
    position: absolute;
    background-image: url();
    background-repeat: no-repeat;
    background-position: fixed;
    position: float;
  }

  @keyframes fadeInUp {
    from {
        transform: translate3d(0,500px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,500px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

